<div ng-include="'partials/navbar.html'"></div>
<div class="content container">
  <div class="row header-row">
    <div class="col-sm-12">
      <h1>Ohjeet ja rekisteriseloste</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h2>Ohjeet</h2>
      <p>Lähetä kaikki TKrekryn käyttöön liittyvät kysymykset ja tiedot mahdollisista teknisistä ongelmista sähköpostilla osoitteeseen <a href="info@tkrekry.fi">info@tkrekry.fi</a>.</p>
      
      <h3>Kirjautuminen ja käyttöoikeudet</h3>
      <p>Jokaisella terveyskeskuksella / työnantajalla voi olla TKrekryssä yksi tai useampi käyttäjätili. Kirjautumiseen kukin terveyskeskuskäyttäjä käyttää omaa sähköpostiosoitetta ja henkilökohtaista salasanaa. Kirjautumisen jälkeen palvelun oikeasta yläkulmasta näkee, millä tunnuksella on kirjauduttu ja koska sitä on käytetty viimeksi.</p>
      <p>Jos et pääse kirjautumaan palveluun ja tarvitset uuden tunnuksen ja / tai salasanan, ota yhteyttä sähköpostilla osoitteeseen <a href="info@tkrekry.fi">info@tkrekry.fi</a>. Myös henkilövaihdoksista on hyvä olla yhteydessä, jotta vanhat käyttäjätilit saadaan poistettua ja terveyskeskuksille saadaan tarvittaessa tiedotettua palvelun käyttöön liittyviä asioita.</p>
      <p>Teknisesti on mahdollista, että yhdellä käyttäjällä voi olla oikeudet muokata useamman terveyskeskuksen tietoja. Jos tälle mahdollisuudelle on kohdallanne tarve, ottakaa yhteyttä sähköpostilla ylläpitoon osoitteessa <a href="info@tkrekry.fi">info@tkrekry.fi</a>.</p>
      <p>Ainoastaan palvelun pääkäyttäjillä on oikeus lisätä tai poistaa käyttäjiltä oikeuksia terveyskeskuksiin, muokata käyttäjän roolia (terveyskeskuskäyttäjä / pääkäyttäjä) ja lisätä / poistaa terveyskeskuksia. Pääkäyttäjä voi myös muokata kaikkien terveyskeskusten tietoja ja työpaikkailmoituksia.</p>

      <h3>Omat tiedot ja salasanan vaihtaminen</h3>
      <p>Omia tietoja pääsee muokkaamaan kohdasta <a href="#/settings/self">Omat tiedot</a>. Sähköpostiosoite -kenttään syötetty sähköpostiosoite toimii palvelun käyttäjätunnuksena. Tietoja tallennettaessa on aina annettava palvelun salasana.</p>
      <p>Ylläpidon toimesta annettu salasana tulee aina vaihtaa ensimmäisen kirjautumisen yhteydessä. Uuden salasanan tulee olla vähintään 12 merkkiä pitkä, sisältää isoja ja pieniä kirjaimia, numeron sekä yhden erikoismerkin.</p>
      <p>Pääkäyttäjät voivat muokata kaikkien käyttäjien kaikkia tietoja, oikeuksia terveyskeskuksiin ja käyttäjän roolia eli onko kyseessä terveyskeskus- vai pääkäyttäjä. Pääkäyttäjä voi myös poistaa käyttäjätilin tai luoda uuden.</p>    
      
      <h3>Työpaikkailmoitukset</h3>
      <p>Terveyskeskukset voivat julkaista TKrekryssä lääkärien (myös psykiatrit) ja hammaslääkärien työpaikkailmoituksia. Ilmoitukset näkyvät sivustolla osoitteessa <a href="http://www.tkrekry.fi/">http://www.tkrekry.fi/</a> ja TKrekryn Facebook-sivulla osoitteessa <a href="https://www.facebook.com/tkrekry">https://www.facebook.com/tkrekry</a>. Lisäksi kolmannet osapuolet saattavat esittää niitä sivuillaan RSS-uutissyötteen välityksellä.</p>
      <p>Työpaikkailmoituksen otsikko muodostetaan ilmoitukselle syötetystä tehtävänimikkeestä, työnantajan nimestä ja työpaikan postitoimipaikasta. Työpaikkailmoitukselle voi valita terveyskeskuksen tietoihin syötetyn toimipisteen ja yhteyshenkilöitä tai syöttää nämä tiedot käsin.</p>
      <p>Työpaikkailmoitus tulee tallentaa ennen, kuin sen voi julkaista sivustolle näkyviin. Julkaistu työpaikkailmoitus päivittyy sivustolle muutaman minuutin kuluessa. Jos tiedot eivät tule näkyviin tässä ajassa, niin muista päivittää sivua esim. painamalla CTRL+F5, koska vanhat tiedot saattavat säilyä selaimen välimuistissa. Ilmoitukset piilotetaan automaattisesti sivustolta haun päättymispäivämäärän jälkeen. Tallennetun ilmoituksen julkaisun voi myös ajastaa, jolloin ilmoitus tulee näkyviin sivustolle, kun "Ajastettu julkaisupäivä" -kenttään valittu vuorokausi alkaa. Ajastetuissa ilmoituksissa EI siis paineta Julkaise -painiketta vaan julkaisu tapahtuu automaattisesti, kun määräpäivä koittaa.</p>
      <p>Sivustolta piilotetut ilmoitukset (joiden haku on päättynyt) voi jättää palveluun uusien tulevien ilmoitusten pohjaksi.</p>
      <p>Pääkäyttäjillä on oikeus muokata kaikkien terveyskeskusten kaikkia työpaikkailmoituksia.</p>      
      
      <h3>Terveyskeskuksen tiedot</h3>      
      <p>Jokaisella terveyskeskuksella / työnantajalla on TKrekryssä oma esittelysivu, jolla listataan terveyskeskuksen rekrytoinnista vastaavien henkilöiden yhteystiedot ja toimipisteet sijainteineen. Sivulla voi  olla terveyskeskuksen yleinen esittelyteksti ja esittely koulutusterveyskeskuksen koulutusvalmiuksista. Kukin terveyskeskus vastaa itse näiden tietojen oikeellisuudesta ja ajantasaisuudesta.</p>
      <p>Terveyskeskuksen tietoja pääsee muokkaamaan kohdasta <a href="#/employer/edit">Terveyskeskuksen tiedot</a>. Tallennetut tiedot päivittyvät sivustolle muutaman minuutin kuluessa. Jos tiedot eivät tule näkyviin tässä ajassa, niin muista päivittää sivua esim. painamalla CTRL+F5, koska vanhat tiedot saattavat säilyä selaimen välimuistissa.</p>
      <p>Tallentamalla toimipisteet ja yhteyshenkilöt terveyskeskuksen tietoihin ovat ne uudelleen käytettävissä työpaikkailmoituksilla ilman, että tietoja tarvitsee syöttää toistamiseen. Näistä tiedoista muodostetaan automaattisesti linkkejä sivustolle (esittelysivun ja työpaikkailmoitusten yhteystiedot), joten jos kenttiin syöttää jotain muuta informaatiota kuin mitä on tarkoitettu, eivät linkit sivustolla toimi oikein.</p>
      <p>Pääkäyttäjä voi muokata sitä kenellä on käyttöoikeudet terveyskeskukseen sekä mihin sairaanhoitopiiriin ja ERVA-alueeseen terveyskeskus kuuluu.</p>      
      
      <h2>Henkilötiedot</h2>      
      <p>TKrekryssä käsitellään henkilötietoja. Lue lisää aiheesta <a href="https://www.tkrekry.fi/tietoja-sivustosta.html" target="_blank">sivustolla</a>.</p>
      
    </div>
  </div>  
</div>
<div ng-include="'partials/footer.html'"></div>    
