<div ng-include="'partials/navbar'"></div>
<div class="content container main">

  <div class="row">
    <div class="col-sm-6" ng-if="currentUser.role == 'user'">
      <h1>Etusivu</h1>
      <p>
        Olet kirjautunut TKrekryn ylläpitotyökaluun, jonka avulla voit julkaista työpaikkailmoituksesi sivustolle ja päivittää terveyskeskuksesi yhteystiedot ja esittelysisällöt.
      </p>
      <p>
        Terveyskeskuksenne tiedot on viimeksi päivitetty {{latestEmployer.updated_at| amDateFormat: 'DD.MM.YYYY - HH:mm'}} <a href="#/employer/edit">Päivitä tiedot &rsaquo;</a>
      </p>
    </div>

    <div class="col-sm-12" ng-if="currentUser.role == 'admin'">
      <h1>Etusivu</h1>
      <p>
        Olet kirjatunut pääkäyttäjänä TKrekryn ylläpitotyökaluun. Voit luoda <a href="#/user/new/self">uusia käyttäjiä</a> ja muokata <a href="#/settings/edit">olemassaolevia</a>, muokata <a href="#/organisation">organisaatiota</a>, muokata <a href="#/employer/edit">terveyskeskusten tietoja</a> ja julkaista näiden työpaikkailmoituksia.
      </p>
      <p>
        Katso myös <a href="#/help">käyttöohjeet &rsaquo;</a>
      </p>
    </div>

    <div class="col-sm-6">
      <div class="help alert alert-info" ng-if="currentUser.role == 'user'">
        <p>
          <strong>Tarvitsetko apua?</strong> Ota yhteyttä sähköpostilla osoitteeseen <a href="mailto:info@tkrekry.fi">info@tkrekry.fi</a></p>
        <p>Katso myös palvelun <a href="#/help">käyttöohjeet &rsaquo;</a></p>
      </div>
    </div>
  </div>

  <div class="row header-row">
    <div class="col-sm-4">
      <h2>Työpaikkailmoitukset</h2>
    </div>
    <div class="col-sm-8">
      <form role="form" class="form-inline">
        <select class="form-control" id="employer" ng-model="selectedEmployer" ng-change="filterAdvertisements()" ng-show="employers.length > 1">
          <option value="" selected="selected">Kaikki</option>
          <option ng-repeat="employer in employers" value="{{employer._id}}">{{employer.name}}</option>
        </select>
        <a href="#/advertisements/new" class="btn btn-primary" role="button">Luo uusi</a>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <table st-table="advetisements" class="table table-striped">
        <thead>
          <tr>
            <th st-sort="title">Tehtävä</th>
            <th st-sort="publication_day">Automaattinen julkaisu pvm.</th>
            <th st-sort="published_at">Julkaistu</th>
            <th st-sort="application_period_end">Haku päättyy</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="advetisement in advetisements">
            <td>
              {{advetisement.title}}
            </td>
            <td>
              {{advetisement.publication_day | date: 'dd.MM.yyyy - HH:mm'}}
            </td>
            <td>
              {{advetisement.published_at |  date: 'dd.MM.yyyy'}}
            </td>
            <td>
              {{advetisement.application_period_end |  date: 'dd.MM.yyyy - HH:mm'}}
            </td>
            <td ng-switch on="{{advetisement.published}}">
              <a ng-switch-when="true" ng-href="#/advertisements/unpublish/{{advetisement._id}}">
                Piilota
              </a>
              <a ng-switch-when="false" ng-href="#/advertisements/publish/{{advetisement._id}}">
                Julkaise
              </a>
            </td>
            <td>
              <a ng-href="#/advertisements/edit/{{advetisement._id}}">Muokkaa</a>
            </td>
            <td>
              <a ng-href="#/advertisements/copy/{{advetisement._id}}">Kopioi</a>
            </td>
            <td>
              <a ng-href="#/advertisements/remove/{{advetisement._id}}">Poista</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<div ng-include="'partials/footer.html'"></div>
