<!DOCTYPE html>
  <head>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <%- newrelic ? newrelic.getBrowserTimingHeader() : "" %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <title>TKrekry - Työpaikkailmoitusten julkaisu ja ylläpito</title>
    <meta name="description" content="TKrekry - Työpaikkailmoitusten julkaisu ja ylläpito" />

    <![if !(lte IE 8)]>
    <link rel="stylesheet" media="screen" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <![endif]>

    <![if !(lte IE 8)]>
    <!-- build:css({.tmp,app}) /styles/3-party.css -->
    <link rel="stylesheet" media="screen" href="/bower_components/angular-ui/build/angular-ui.css" />
    <link rel="stylesheet" media="screen" href="/bower_components/angular-loading-bar/loading-bar.css" />
    <link rel="stylesheet" media="screen" href="/bower_components/pickadate/default.css" />
    <link rel="stylesheet" media="screen" href="/bower_components/pickadate/default.date.css" />
    <link rel="stylesheet" media="screen" href="/bower_components/pickadate/default.time.css" />
    <!-- endbuild -->
    <![endif]>

    <![if !(lte IE 8)]>
    <!-- build:css({.tmp,app}) /styles/main.css -->
    <link rel="stylesheet" media="screen" href="styles/main.css" />
    <!-- endbuild -->
    <![endif]>

  </head>
  <body id="ng-app" ng-app="tkrekryApp">
    <script src="/config.js"></script>
    
    <!--[if lte IE 8]>
    <h1>Käyttämäsi Internet Explorer selaimen versio ei ole tuettu</h1>
    <p>TKrekryn työpaikkailmoitusten julkaisua ja ylläpitoa voi käyttää Internet Explorer 9+, Chrome, Firefox tai Safari selaimilla. Lisätietoja voit kysyä sähköpostilla osoitteesta <a href="mailto:info@tkrekry.fi">info@tkrekry.fi</a>.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-view=""></div>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-6571240-1', 'tkrekry.fi');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
    </script>

    <![if !(lte IE 8)]>
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <![endif]>

    <!-- build:js(app) scripts/pack-one.js -->
    <![if !(lte IE 8)]>
    <script src="bower_components/angular-i18n/angular-locale_fi-fi.js"></script>
    <script src="bower_components/newrelic-timing/newrelic-timing.js"></script>
    <script src="bower_components/newrelic-timing/newrelic-timing-angular.js"></script>
    <script src="bower_components/angular-ui/build/angular-ui.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/moment/moment-with-locales.js"></script>
    <script src="bower_components/moment-timezone/moment-timezone-with-data-2010-2020.js"></script>
    <![endif]>
    <!-- endbuild -->

    <![if !(lte IE 8)]>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-ui-router/angular-ui-router.js"></script>
    <script src="bower_components/angular-moment/angular-moment.js"></script>
    <script src="bower_components/keen-js/keen.min.js"></script>
    <script src="bower_components/angular-keenio/angular-keenio.min.js"></script>
    <![endif]>

    <!-- build:js(app) scripts/pack-two.js -->
    <![if !(lte IE 8)]>
    <script src="bower_components/angular-loading-bar/loading-bar.js"></script>
    <script src="bower_components/ng-ckeditor/ng-ckeditor.js"></script>
    <script src="bower_components/pickadate/picker.js"></script>
    <script src="bower_components/pickadate/picker.date.js"></script>
    <script src="bower_components/pickadate/picker.time.js"></script>
    <script src="bower_components/pickadate/fi_FI.js"></script>
    <![endif]>
    <!-- endbuild -->

    <![if !(lte IE 8)]>
    <script src="//cdn.ckeditor.com/4.5.1/full-all/ckeditor.js"></script>
    <![endif]>

    <!-- build:js(app) scripts/ui-modules.js -->
    <![if !(lte IE 8)]>
    <script src="/scripts/modules/ui-bootstrap-custom-0.10.0.js"></script>
    <![endif]>
    <!-- endbuild -->

    <!-- build:js(app) scripts/smart-modules.js -->
    <![if !(lte IE 8)]>
    <script src="/bower_components/angular-smart-table/smart-table.js"></script>
    <![endif]>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <![if !(lte IE 8)]>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/templates/all.js"></script>
    <script src="/scripts/controllers/main.js"></script>
    <script src="/scripts/controllers/navbar.js"></script>
    <script src="/scripts/controllers/login.js"></script>
    <script src="/scripts/controllers/signup.js"></script>
    <script src="/scripts/controllers/settings.js"></script>

    <script src="/scripts/controllers/advertisement_edit.js"></script>
    <script src="/scripts/controllers/advertisement_destroy.js"></script>
    <script src="/scripts/controllers/advertisement_copy.js"></script>
    <script src="/scripts/controllers/advertisement_publish.js"></script>
    <script src="/scripts/controllers/advertisement_unpublish.js"></script>
    <script src="/scripts/controllers/advertisement_preview.js"></script>
    <script src="/scripts/controllers/employer_select.js"></script>
    <script src="/scripts/controllers/employer_edit.js"></script>
    <script src="/scripts/controllers/organisation_management.js"></script>
    <script src="/scripts/controllers/user_new.js"></script>

    <script src="/scripts/services/angular_moment_config.js"></script>
    <script src="/scripts/services/auth.js"></script>
    <script src="/scripts/services/session.js"></script>
    <script src="/scripts/services/user.js"></script>
    <script src="/scripts/services/advertisement.js"></script>
    <script src="/scripts/services/employer.js"></script>
    <script src="/scripts/services/contact.js"></script>
    <script src="/scripts/services/office.js"></script>
    <script src="/scripts/services/lodash.js"></script>
    <script src="/scripts/services/organisation.js"></script>
    <script src="/scripts/services/focus.js"></script>
    <script src="/scripts/services/modal_settings.js"></script>

    <script src="/scripts/directives/mongoose_error.js"></script>
    <script src="/scripts/directives/pickdate.js"></script>
    <script src="/scripts/directives/form_error_list.js"></script>
    <script src="/scripts/directives/ng_scroll_and_focus.js"></script>
    <script src="/scripts/directives/multi_select.js"></script>
    <![endif]>
    <!-- endbuild -->

</body>
</html>
